<!DOCTYPE html>
<html>
<head>
    <title>News Links Viewer</title>
</head>
<body>
    <h1>write website link</h1>
    <form method="post">
        <input type="text" name="url" placeholder="https://example.com" required>
        <button type="submit">get links</button>
    </form>

    {% if results %}
        <h2>titles and links :</h2>
        <ul>
        {% for item in results %}
            <li>
                <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
